<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Message Details:</h1>
    <div><strong>Sent By:</strong> <%= name %></div>
    <div><strong>Time Sent:</strong> <%= date %></div>
  </body>
</html>
